@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-image: url(assets/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.88);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
}

input {
  outline: none;
  border: none;
}

ul,
ol {
  list-style: none;
}

h2 {
  margin-bottom: 1rem;
}
