.home__content {
  display: grid;
  grid-template-areas:
    "upload upload upload"
    "student work curious-mind";
  gap: 1.4rem;
}

.upload {
  grid-area: upload;
}

.student {
  grid-area: student;
}

.work {
  grid-area: work;
}

.curious-mind {
  grid-area: curious-mind;
}
